@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald&display=swap');
body{
   margin: 0%;
   font-family: 'Oswald';
   text-align: center;
   background-color: #201b2c;
}

body > h1{
   color: #00ff88;
   height: 50%;
   margin: 50px;
   border-radius: 10px;
   box-shadow: 0px 10px 40px #00000056;
}

.box{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #514869;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 10px 40px #00000056;
}

a{
   text-decoration: none;
   color: white;
   border: 3px solid #00ff88;
   border-radius: 10px;
   padding: 10px;
}

.center-login{
   width: 50vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
}
.main-login-image{
   width: 80vh;
   align-items: center center;
}







/*@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Oswald&display=swap');
body{
   margin: 0%;
   font-family: 'Oswald';
   text-align: center;
   background-color: #304D63;
}
body > h1{
   color: #00ff88;
   height: 50%;
   margin: 50px;

}

.box{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   background-color: #514869;
   padding: 30px;
   border-radius: 10px;
   box-shadow: 0px 10px 40px #00000056;
}
a{
   text-decoration: none;
   color: white;
   border: 3px solid #00ff88;
   border-radius: 10px;
   padding: 10px;
}

.center-login{
   width: 50vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: left;
   flex-direction: column;
}
.center-login-image{
   width: 60vh;
   align-items: center center;
}